@{
    Layout = "_Layout";
    ViewBag.Title = "AboutUs";
}


    @*Start Body *@
    <section>

        <center>
            <div class="mt-5 p-5 bg-warning text-white rounded-2">
                <h1>Welcome to AboutUs Page</h1>
                <p>lorem ipsum...................... </p>
            </div>
        </center>
    </section>
    @*End Body *@


