
@{
    Layout = "_Layout";
    ViewBag.Title = "ContactUs";
}


    @*Start Body *@
    <section>

        <center>
            <div class="mt-5 p-5 bg-light text-dark rounded-2">
                <h1>Welcome to ContactUs Page</h1>
                <p>lorem ipsum...................... </p>
            </div>
        </center>
    </section>
    @*End Body *@

