@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}




@*Start Body *@
<section>

    <center>
        <div class="mt-5 p-5 bg-primary text-white rounded-2">
            <h1>Welcome to Home Page</h1>
            <p>lorem ipsum...................... </p>
        </div>
    </center>
</section>
@*End Body *@

 




