
@{
    Layout = "_Layout";
    ViewBag.Title = "Privacy";
}

    @*Start Body *@
    <section>

        <center>
            <div class="mt-5 p-5 bg-success text-white rounded-2">
                <h1>Welcome to Privacy Page</h1>
                <p>lorem ipsum...................... </p>
            </div>
        </center>
    </section>
    @*End Body *@

  